<!DOCTYPE html>
<html>

<head>

    <title>Smart Task Manager</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

    <div class="container">

        <div id="authSection">

            <h1>Smart Task Manager</h1>

            <input type="text"
                   id="username"
                   placeholder="Username">

            <input type="password"
                   id="password"
                   placeholder="Password">

            <button onclick="registerUser()">
                Register
            </button>

            <button onclick="loginUser()">
                Login
            </button>

        </div>

        <div id="dashboardSection"
             style="display:none;">

            <h1 id="formHeading">
                Task Dashboard
            </h1>

            <button class="logout-btn"
                    onclick="logoutUser()">

                Logout

            </button>

            <form id="taskForm">

                <input type="text"
                       id="title"
                       placeholder="Task Title"
                       required>

                <input type="text"
                       id="description"
                       placeholder="Description"
                       required>

                <select id="priority">

                    <option value="High">High</option>

                    <option value="Medium">Medium</option>

                    <option value="Low">Low</option>

                </select>

                <select id="status">

                    <option value="Pending">Pending</option>

                    <option value="Completed">Completed</option>

                </select>

                <button type="submit">
                    Add Task
                </button>

            </form>

            <h2>Analytics Summary</h2>

            <div id="analyticsBox"></div>

            <h2>Tasks</h2>

            <div id="taskList"></div>

        </div>

    </div>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

    <script src="/static/script.js"></script>

</body>

</html>